.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  /*animation: spin 20s linear infinite;
  transition: 20s normal 0s;*/
}

/*@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}*/
