.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: .5s linear;
}

.footer__column-link:hover {
  transition: .5s linear;
  opacity: .3;
}
