.kaufman {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  z-index: 1;
  /*background-image: url(../images/svg/triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  background-position-x: 933px;
  background-position-y: 41px;*/
}

