.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы*/
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине*/
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент*/
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*ссылки на странице при наведении мыши*/
.link:hover {
  transition: .5s linear;
  opacity: .3;
}

.link {
  color: #2f80ed;
  text-decoration: none;
  transition: .5s linear;

}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
/*.rotation {
animation: spin 20s linear infinite;
  transition: 20s normal 0s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
*/
