.kaufman__triangle {
  position: absolute;
  background-image: url(../../../images/svg/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 877px;
  width: 877px;
  top: 0;
  right: -182px;
  z-index: -1;
  animation: spin 20s linear infinite;
  transition: 20s normal 0s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
